body {
  margin: 0px;
  padding: 0px;
}
.nice {
  border-right: 2px solid black;
}
.now a {
  font-size: 16px !important;
  color: #252525;
  text-decoration: none;
  padding: 0px 12px;
  font-weight: 400;
}
.section4 {
  background-image: url("./image/banner.jpg") !important;
  background-size: cover;
  padding: 90px auto;
}
@media screen and (max-width: 414px) {
  .or li {
    display: inline-block;
    font-size: 9px !important;
  }
}
.obj li {
  display: inline-block !important;
  display: none;
}
.now a:hover {
  color: #7fad39;
}
.ope li {
  list-style-type: none;
  display: inline-block;
}
.media li {
  display: inline-block;
  padding: 12px 9px;
  font-size: 23px;
}
.media li:hover {
  background-color: black;
  border-radius: 30px;
  padding: 2px 12px;
}
.or li {
  display: inline-block;
  padding: 0px 12px;
}
.kk li {
  padding: 0px 12px;
}
.kk a {
  font-size: 24px;
}
.card {
  border: none;
}
.footer {
  background-color: #f2f3f4;
  background-size: cover;
  padding: 89px 0px;
}
